<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <title>Contactanos</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">ACM</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link " href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/Nuestroservicio">
                  Nuestros Servicios
                </a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link " href="/catalogo">Catalogo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/contactos" >Contactenos</a>
                
              </li>
             
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>

    <section class="contact py-5 bg-light" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4>Datos</h4>
                    <hr>
                </div>
                <div class="col-md-6">
                    <div class="address">
                        
                    <h5>Direccion:</h5>
                    <ul class="list-unstyled">
                        <li> T-Mobile Customer Relations</li>
                        <li> PO Box 37380</li>
                        <li> Albuquerque, NM 87176-7380</li>
                    </ul>
                    <p></p>
                    </div>
                    <div class="email">
                    <h5>Correo:</h5>
                    <ul class="list-unstyled">
                        <li> art@gmail.com</li>
                        <li> art@gmail.com</li>
                    </ul>
                    </div>
                    <div class="phone">
                        <h5>Numero telefonico:</h5>
                        <ul class="list-unstyled">
                        <li> +91- 8800XXXXXX34</li>
                        <li> +91- 8800XXXXXX34</li>
                    </ul>
                    </div>
                    <hr>
                    <div class="social">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#"><i class="fa fa-youtube-play fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                             <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                      <input id="Full Name" name="Full Name" placeholder="Nombre completo" class="form-control" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <input type="email" class="form-control" id="inputEmail4" placeholder="Correo">
                                    </div>
                                  </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <input id="Mobile No." name="Mobile No." placeholder="Numero telefonico" class="form-control" required="required" type="text">
                                    </div>
                                    <div class="form-group col-md-6">
                                              
                                              <select id="inputState" class="form-control">
                                                <option selected>Choose ...</option>
                                                <option> </option>
                                                <option> </option>
                                                <option> </option>
                                                <option> </option>
                                              </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                              <textarea id="comment" name="comment" cols="40" rows="5" placeholder="Coemntario"class="form-control"></textarea>
                                    </div>
                                </div>
                                
                                <div class="form-row">
                                    <button type="button" class="btn btn-danger">enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        </section>
</body>
</html>


